<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" >
  <title>Đăng Nhập - SmartParking</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/AdminLTE.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/skins/_all-skins.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="#">Smart<b>Parking.</b></a>
    </div>
    <div class="login-box-body">
    <form method="POST" action="{{  route('auth.login') }}">
        <div class="form-group">
          <label>Số điện thoại</label>
          <input type="text" class="form-control" name="phone_number" />
        </div>
        <button type="submit" class="btn btn-warning btn-block">Đăng Nhập</button>
      </form>
    </div>
  </div>
</body>
</html>
